#topSection {
 background-color: black;
 width: 10px;
 height: 70px;
 margin-left:auto;
 margin-right:auto;
}

#box {
background-color: black;
width: 70px;
height: 175px;
border-radius: 10px;
margin-left:auto;
margin-right:auto;
padding-top: 10px;
}

.light {
width: 40px;
height: 40px;
border-radius: 50%;
margin-left:auto;
margin-right:auto;
margin-bottom: 10px;
}

.red {
background-color: red;
}
.yellow {
    background-color: yellow;
    }
.green {
background-color: green;
}
    
.red.glow  {
box-shadow: 0px 0px 40px 20px red;

}
.yellow.glow  {
    box-shadow: 0px 0px 40px 20px yellow;
    
    }

.green.glow  {
box-shadow: 0px 0px 40px 20px green;

}